# Build e compilação
bin/
obj/
out/

# Configurações locais de IDE
.vscode/
.vs/
.history/
*.csproj.user
*.suo
*.user
*.userosscache
*.sln.docstates

# Arquivos temporários e cache
*.log
*.tlog
*.db
*.v9.bin
*.pidb
*.tmp
*.bak
*.old
*.orig

# Configs locais e testes
*.http
launchSettings.json

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/
project.lock.json
project.assets.json

# Testes e cobertura
TestResults/
*.coverage
*.coveragexml

# Arquivos do Rider
.idea/

# Sistema operacional
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# Arquivos ocultos
*.~*
